draft-ietf-netconf-list-pagination-nc-07 early Opsdir review

Document: draft-ietf-netconf-list-pagination-nc
Title: NETCONF Extensions to Support List Pagination
Reviewer: Linda Dunbar
Review result: Has Nits

I have reviewed this document as part of the Ops area directorate's ongoing
effort to review all IETF documents being processed by the IESG.  These
comments were written primarily for the benefit of the Ops area directors.
Document editors and WG chairs should treat these comments just like any other
last-call comments.

Summary: The draft defines a useful and backward-compatible extension to
support list pagination in NETCONF. It aligns well with NMDA and includes
appropriate error handling and security considerations.

Some minor issues:
1. It would be nice to add some guidance on logging or debugging paginated
 queries;
2. Add notes on potential resource impact from large or complex
 queries;
3. Parameters like offset and cursor could potentially conflict. It would be
useful to add clarification when used together;
4. The draft briefly mentions
that the NETCONF list pagination YANG module may also be used with RESTCONF,
but it does not provide details on how to do so, such as how the pagination
parameters would map to RESTCONF's HTTP-based interface (e.g., query parameters
or request body).

Best Regards,
Linda Dunbar

See my answer in the List pagination github

For the first 3 issues, better addressing them in List pagination base draft. For issue 4,  we can refer to Example of section 3.6.1 in RFC8040 and have similar example, but do we want to go deep there?

See my latest response to Linda, 
https://mailarchive.ietf.org/arch/msg/netconf/7QJneT9eU_EdzbfNlUn7qsFImY0/
I believe this issue ticket can be closed.